<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" charset= "UTF-8">
	var setting = {
		check:{
			enable:true,
			chkboxType:{"Y":"ps","N":"ps"}
		},
		data:{
			simpleData:{
				enable:true
			}
		}
	};
	
	var zNodes = {{ AllInfo['TreeNodes'] | safe }};
	$(document).ready(function(){
		$.fn.zTree.init($("#treeDemo"),setting,zNodes);
	})
	$("#save").die().live("click", function() {
		var checked = $.fn.zTree.getZTreeObj("treeDemo").getCheckedNodes(true);
		var permIds = "";
		var roleId = {{ AllInfo['roleId'] | safe }};
		for(var i = 0; i< checked.length; i++){
			if(i == checked.length -1){
				permIds = permIds + checked[i].id;
			}else{
				permIds = permIds + checked[i].id + ",";
			}
		}
		$.post("assignPermission?roleId="+roleId+"&permIds="+permIds,function(data){
			if (data.result == "true"){
				$('#myModal').modal('hide');
				oTable.fnPageChange('first');
			}else{
				alert("失败!");
			}
		});
	});
</script>
<title>Insert title here</title>
</head>
<body>
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>分配权限</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span8">
				<div class="well">
					<span class="label label-info">系统权限：</span>
					<ul id="treeDemo" class="ztree"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0);" id="save" class="btn btn-primary">提交</a>
		<a href="javascript:void(0);" class="btn" data-dismiss="modal">关闭</a>
	</div>
</body>
</html>
