<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/js/bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="static/js/jquery-1.8.3.min.js"></script>
<style>

.navbar.navbar-static.navbar_as_heading .navbar-inner {
    border-radius: 0 0 0 0;
    margin: -20px -20px 20px;
}
</style>
<script>
	$(function(){
		if (self != top) {  
			window.open ('/GCCP-ZSJ/login.action?type=timeout','_top')

		}
		$("#background").css({
				'height' : $(window).height() +'px',
				'width'  : $(window).width() +'px'
			});
	})
</script>
</head>
<body>
	<div>
		<div style="height:100%;position:absolute;width:100%;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);z-index: 100;" ></div>
		<div id="zoomWallpaperGrid" style="position:absolute;z-index:-10;top:0;left:0;height:100%;width:100%;background: #000000 url(static/image/wallpaper/blue_glow.jpg) no-repeat 50% 50%"></div>
		<!-- <img id="background" src="static/image/wallpaper/loading_ernv.jpg"> -->
	</div>
	<div style="position:absolute; top:35%;left:0px; width:100%;z-index:5555">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="well" style="width:576px;margin:auto auto">
				<div class="navbar navbar-static navbar_as_heading navbar-inverse">
					<div class="navbar-inner">
						<div class="container" style="width: auto;">
						</div>
					</div>
				</div>
				{% for message in get_flashed_messages() %}
                 <div class="alert alert-danger">
                 	{{ message }}
                 </div>
                 {% endfor %}
				
				<form id="validationForm" name="validationForm" action="/login" method="post" enctype="multipart/form-data">


					<div Class="form-horizontal">
					<div class="control-group ">
						<label class="control-label">用户名:</label>
						<div class="controls">
							<input type="text" name="username" value=""
								id="validationForm_name" />
							
								
										
				<span 					class="help-inline"				id="username"
				>用户名不能为空</span><script>$("#username").parent("div").parent(".control-group").addClass("error");</script>
			
			
					

						</div>
					</div>
					<div class="control-group ">
						<label class="control-label" for="validationForm_password">密    码:</label>
						<div class="controls">
							<input type="password" name="password"
								id="validationForm_password" />
							
								
										
				<span 					class="help-inline"				id="password"
				>密码不能为空</span><script>$("#password").parent("div").parent(".control-group").addClass("error");</script>
			
			
					

						</div>
					</div>


					
					<input type="submit" value="登录" style="margin-left:180px;"
						class="btn btn-primary">
					</div>
				</form>




			</div>
		</div>
	</div>
	</div>
</body>
</html>
