<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script>
	$("#save").click(function(){
		$.post("addphplogpath",$("#userForm").serialize(),function(data){
			if(data.result == "true"){
				$('#myModal').modal('hide');
				//oTable.fnPageChange( 'first' );
			}else{
				var errors = {
					fieldErrors:data.fieldErrors,
					errors:data.actionErrors
				};
				bootstrapValidation($("#userForm"),errors);
			}
		});
	});
</script>
<style type="text/css">
	input.span01,
textarea.span01,
.uneditable-input.span01 {
  width: 95px;
}
</style>
</head>
<body>
<div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>新增日志路径</h3>
</div>
    <div class="modal-body">
	<form id="userForm" enctype="multipart/form-data"  class="form-horizontal">
   		<div class="control-group ">
                	<label class="control-label">日志路径:</label>
                	<div class="controls">
                		<input type="text" style="height:30px" name="logpath"/>
					</div>
		</div>
	</form>
	</div>
    <div class="modal-footer">
    <a href="javascript:void(0);" id="save" class="btn btn-primary">提交</a>
    <a href="javascript:void(0);" class="btn" data-dismiss="modal">关闭</a>
    </div>
</body>
</html>